@media screen and (min-width: 768px) and (max-width: 1200px) {
  .slider1-menu .list3 a:after, .slider1-menu .list5 a:after {
    margin-left: 5px;
  }

  .slider1 li a {
    font-size: 6px;
  }

  .slider1-profile a {
    font-size: 6px;
  }

  .slider1-profile a:after {
    margin-left: 5px;
  }

  .slider1-profile img {
    margin-right: 5px;
  }

  .player1-ability-text .inf {
    font-size: 12px;
  }

  .player1-ability-text .title {
    font-size: 5px;
  }

  .player1-ability-text .text {
    font-size: 3px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .slider1-logos .riotgames, .slider1-logos .rectangle, .slider1-logos .logo {
    height: 15px;
  }
  .slider1-logos .riotgames {
    width: 30px;
  }
  .slider1-logos .logo {
    width: 20px;
  }

  .slider1-profile img {
    height: 15px;
    width: 15px;
  }

  .slider1-abilities img:nth-child(1) {
    width: 17px;
    height: 23px;
  }

  .slider1-abilities img:nth-child(2) {
    width: 11px;
    height: 21px;
  }

  .slider1-abilities img:nth-child(3) {
    width: 22px;
    height: 16px;
  }

  .slider1-abilities img:nth-child(4) {
    width: 19px;
    height: 14px;
  }

  .slider1-player-text .slider1-player-country {
    font-size: 8px;
    width: 30vh;
  }

  .slider1-player-text .slider1-player-name {
    font-size: 25px;
    width: 30vh;
  }

  .slider1-name p {
    font-size: 45px;
    width: 30vh;
  }

  .slider1-name {
    margin-top: -90px;
    margin-left: -150px;
  }

  .slider1-payer-bottom {
    margin-top: 175%;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .slider1-payer-bottom {
    margin-top: 169%;
  }
}
@media screen and (min-width: 1401px) and (max-width: 1600px) {
  .slider1-payer-bottom {
    margin-top: 175%;
  }
}
@media screen and (min-width: 1401px) and (max-width: 1600px) {
  .slider1-payer-bottom {
    margin-top: 178%;
  }
}
@media screen and (min-width: 1601px) {
  .slider1-payer-bottom {
    margin-top: 184%;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .slider1-logos .riotgames, .slider1-logos .rectangle, .slider1-logos .logo {
    height: 10px;
  }
  .slider1-logos .riotgames {
    width: 25px;
  }
  .slider1-logos .logo {
    width: 15px;
  }

  .slider1-profile img {
    height: 10px;
    width: 10px;
  }

  .slider1 li a {
    font-size: 4px;
  }

  .slider1-profile a {
    font-size: 4px;
  }

  .slider1-abilities img:nth-child(1) {
    width: 11px;
    height: 19px;
  }

  .slider1-abilities img:nth-child(2) {
    width: 9px;
    height: 17px;
  }

  .slider1-abilities img:nth-child(3) {
    width: 18px;
    height: 13px;
  }

  .slider1-abilities img:nth-child(4) {
    width: 15px;
    height: 11px;
  }

  .slider1-player-text .slider1-player-country {
    font-size: 6px;
    width: 30vh;
  }

  .slider1-player-text .slider1-player-name {
    font-size: 20px;
    width: 30vh;
  }

  .slider1-name p {
    font-size: 35px;
    width: 30vh;
  }

  .slider1-name {
    margin-top: -90px;
    margin-left: -125px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .slider1 li a {
    font-size: 4px;
  }

  .slider1-profile a {
    font-size: 4px;
  }

  .slider1-logos .riotgames, .slider1-logos .rectangle, .slider1-logos .logo {
    height: 8px;
  }
  .slider1-logos .riotgames {
    width: 22px;
  }
  .slider1-logos .logo {
    width: 13px;
  }
  .slider1-logos .rectangle {
    width: 1px;
  }

  .slider1-profile img {
    height: 10px;
    width: 10px;
  }

  .slider1-menu .list3 a:after, .slider1-menu .list5 a:after {
    margin-left: 3px;
  }

  .slider1-profile a:after {
    margin-left: 3px;
  }

  .slider1-profile img {
    margin-right: 3px;
  }

  .slider1-abilities img:nth-child(1) {
    width: 10px;
    height: 15px;
  }

  .slider1-abilities img:nth-child(2) {
    width: 7px;
    height: 13px;
  }

  .slider1-abilities img:nth-child(3) {
    width: 15px;
    height: 10px;
  }

  .slider1-abilities img:nth-child(4) {
    width: 12px;
    height: 9px;
  }

  .slider1-player-text .slider1-player-country {
    font-size: 4px;
    width: 30vh;
  }

  .slider1-player-text .slider1-player-name {
    font-size: 15px;
    width: 30vh;
  }

  .player1-ability-text .inf {
    font-size: 9px;
  }

  .player1-ability-text .title {
    font-size: 5px;
  }

  .player1-ability-text .text {
    font-size: 2px;
  }
}
@media screen and (min-width: 680px) and (max-width: 767px) {
  .slider1-name p {
    font-size: 30px;
    width: 30vh;
  }
}
@media screen and (min-width: 600px) and (max-width: 679px) {
  .slider1-name p {
    font-size: 28px;
    width: 30vh;
  }

  .slider1-name {
    margin-top: -70px;
    margin-left: -100px;
  }
}
@media screen and (min-width: 550px) and (max-width: 599px) {
  .slider1-name p {
    font-size: 25px;
    width: 30vh;
  }

  .slider1-name {
    margin-top: -70px;
    margin-left: -100px;
  }
}
@media screen and (min-width: 500px) and (max-width: 549px) {
  .slider1-name p {
    font-size: 22px;
    width: 30vh;
  }

  .slider1-name {
    margin-top: -50px;
    margin-left: -90px;
  }
}
@media screen and (min-width: 481px) and (max-width: 500px) {
  .slider1 li a {
    font-size: 3px;
  }

  .slider1-profile a {
    font-size: 3px;
  }

  .slider1-logos .riotgames, .slider1-logos .rectangle, .slider1-logos .logo {
    height: 6px;
  }
  .slider1-logos .riotgames {
    width: 16px;
  }
  .slider1-logos .logo {
    width: 8px;
  }
  .slider1-logos .rectangle {
    width: 1px;
  }

  .slider1-profile img {
    height: 8px;
    width: 8px;
  }

  .slider1-menu .list3 a:after, .slider1-menu .list5 a:after {
    margin-left: 2px;
  }

  .slider1-profile a:after {
    margin-left: 1px;
  }

  .slider1-profile img {
    margin-right: 1px;
  }

  .slider1-abilities img:nth-child(1) {
    width: 8px;
    height: 12px;
  }

  .slider1-abilities img:nth-child(2) {
    width: 5px;
    height: 10px;
  }

  .slider1-abilities img:nth-child(3) {
    width: 12px;
    height: 8px;
  }

  .slider1-abilities img:nth-child(4) {
    width: 10px;
    height: 7px;
  }

  .slider1-player-text .slider1-player-country {
    font-size: 3px;
    width: 30vh;
  }

  .slider1-player-text .slider1-player-name {
    font-size: 12px;
    width: 30vh;
  }

  .player1-ability-text .inf {
    font-size: 9px;
  }

  .player1-ability-text .title {
    font-size: 5px;
  }

  .player1-ability-text .text {
    font-size: 2px;
  }
}
@media screen and (max-width: 480px) {
  .slider1-menu {
    display: none;
  }

  .slider1-logos {
    width: 20%;
  }

  .slider1-menu-profile {
    width: 40%;
    justify-content: flex-end;
  }

  .slider1-window {
    padding: 0;
  }

  .slider1-window1 {
    border-radius: 0;
  }

  .slider1 header {
    border-radius: 0;
  }

  .slider1 {
    background: none;
  }

  .slider1 li a {
    font-size: 8px;
  }

  .slider1-profile a {
    font-size: 7px;
  }

  .slider1-logos .riotgames, .slider1-logos .rectangle, .slider1-logos .logo {
    height: 10px;
  }
  .slider1-logos .riotgames {
    width: 24px;
  }
  .slider1-logos .logo {
    width: 10px;
  }
  .slider1-logos .rectangle {
    width: 2px;
  }

  .slider1-profile img {
    height: 12px;
    width: 12px;
  }

  .slider1-profile a:after {
    margin-left: 4px;
  }

  .slider1-profile img {
    margin-right: 8px;
  }

  .slider1-section1 {
    height: auto !important;
  }

  .slider1-bbb {
    background: none;
  }

  .slider1-name {
    display: none;
  }

  .slider1-players {
    flex-direction: column;
    margin: 0 auto;
    width: 26%;
  }

  .slider1-player {
    width: 26vw;
    height: 58vw;
  }

  .slider1-player-bgr {
    margin-bottom: 30%;
  }

  .slider1-abilities img:nth-child(1) {
    width: 10px;
    height: 15px;
  }

  .slider1-abilities img:nth-child(2) {
    width: 7px;
    height: 13px;
  }

  .slider1-abilities img:nth-child(3) {
    width: 15px;
    height: 10px;
  }

  .slider1-abilities img:nth-child(4) {
    width: 12px;
    height: 9px;
  }

  .slider1-player-text .slider1-player-country {
    font-size: 6px;
    width: 40vh;
  }

  .slider1-player-text .slider1-player-name {
    font-size: 16px;
    width: 30vh;
  }

  .slider1-payer-bottom {
    margin-top: 180%;
    margin-left: 10%;
  }

  .slider1-abilities-more {
    display: none !important;
  }

  .slider1 footer {
    border-radius: 0;
  }
}

/*# sourceMappingURL=media.css.map */
